@use 'base/mixins' as m;
@use 'base/variables' as v;

.pases {

	&__grid {
		@include m.contenedor-sm;
		@include m.grid(1, 5rem);
	}
}

.pase {

	width: min(100% - 5rem, 65rem);
	margin: 0 auto;
	padding: 6rem;
	border-radius: 3rem;
	color: v.$blanco;

	background-image:  url('/build/img/codigoBarras.avif'), 
		image-set(url('/build/img/codigoBarras.avif'), url('/build/img/codigoBarras.webp'));
	background-repeat: no-repeat;
	background-position: right top;


	&--presencial{
		background-color:v.$azul;
	}
	&--virtual{
		background-color: v.$secundario;
	}
	&--gratis{
		background-color: lighten(v.$gris-oscuro, 20);
	}

	&__logo {
		@include m.logo;
		@include m.texto-fluido(2rem, 4rem);
	}
	&__tipo {
		font-size: 2rem;
		text-transform: uppercase;
		margin: 3rem 0 0 0;
	}
	&__precio {
		margin: 3rem 0 0 0;
		font-size: 4rem;
		font-weight: v.$bold;
	}

	&__contenedor {
		margin-top: 5rem;
		display: flex;
		justify-content: center;
	}

	&__enlace {
		@include m.boton(v.$azul, v.$blanco);
		width: auto;
	}
}