@use 'base/mixins' as m;
@use 'base/variables' as v;

// .tickets {
// 	background-color: aqua;
// }


.ticket {
	width: min(100% - 5rem, 65rem);
	margin: 0 auto;
	border-radius: 3rem;
	color: v.$blanco;

	// background-image:  url('/build/img/codigoBarras.avif'), 
	// 	image-set(url('/build/img/codigoBarras.avif'), url('/build/img/codigoBarras.webp'));
	// background-repeat: no-repeat;
	// background-position: center bottom -4rem;
	// background-size: 80% auto;

	@include m.tablet {
		width: 60rem;
		//height: 30rem;
		//background-position: right bottom 4rem;
	}

	&__grid{

		
		@include m.tablet {
			@include m.grid(2, 3rem);
		}
	}

	.ticket__qr {
		text-align: center;
		margin-top: 1rem;
	}

	&__img {
		align-items: end;
		width: 150px;
		height: 150px;
	}

	&__izq {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.ticket__qr p {
		font-size: 1.5rem;
		margin-top: 0.5rem;
	}

	&--presencial{
		background-color:v.$azul;
	}
	&--virtual{
		background-color: v.$secundario;
	}
	&--básico{
		background-color: lighten(v.$gris-oscuro, 20);
	}

	&__logo {
		// @include m.logo;
		// @include m.texto-fluido(.5rem, 2rem);
		width: 15rem;
		height: min-content;
	}

	&__plan, &__nombre {
		font-size: 2rem;
		font-weight: v.$regular;
		text-align: center;
	}

	&__codigo {
		font-size: 3rem;
		font-weight: v.$semibold;
	}

	&--acceso {
		width: 30rem;
		//height: 50rem;
		padding: 4rem 3rem;

		@include m.tablet {
			width: 60rem;
			//height: 30rem;
			//background-position: right bottom 4rem;
		}
	
		.ticket__logo {
			@include m.texto-fluido(2rem, 3rem);
		}

		.ticket__codigo {
			font-size: 4rem;
			text-align: center;
			font-weight: v.$bold;
		}

		.ticket__nombre {
			text-transform: capitalize;
			font-size: 2.4rem;
			font-weight: v.$black;
		}
	}

	&__pdf {
		text-align:center; 
		margin-top: 2rem;
	}

	&__descargar {
		@include m.boton(v.$azul, v.$blanco);
		width: auto;
		border-radius: 1.5rem; 
	}
	
}
