@use 'base/mixins' as m;
@use 'base/variables' as v;

.eventos-registro {
	@include m.contenedor;

	display: flex;
	flex-direction: column; 
	
	> main {
		order: 2; 
	}

	> aside {
		order: 1; 
	}

		
	@include m.tablet {
		display: flex;
		gap: 2rem;
		align-items: flex-start; // necesario para el sticky de registro 
		flex-direction: row;
		
		> main {
			flex-basis: 70%;
			order: 1; 
		}

		> aside {
			flex-basis: 30%;
			order: 2; 
		}
	}


	&__listado{

		@include m.tablet {
			flex: 0 0 60%;
			// width: 60%;
		}
	}

	&__grid {

		@include m.grid(1, 3rem);
		@include m.tablet {
			@include m.grid(2, 3rem);
		}
		@include m.desktop {
			@include m.grid(3, 2rem);
		}
	}

	&__heading {

		&--conferencias {
			color: v.$azul;
			@include m.texto-fluido(2rem, 6rem);
		}

		&--talleres {
			color: v.$secundario;
			@include m.texto-fluido(2rem, 6rem);
			margin-top: 5rem;
		}
	}
}

.registro {

	background-color: v.$gris-claro;
	padding: 3rem;
	border-radius: 1rem;

	@include m.tablet {
		flex: 0 0 40%;
		position: sticky;
		top: 5rem;        
	}
	
	&__descripcion {
		text-align: center;
	}

	&__fecha {
		margin: 3rem 0;
	}

	&__heading {
		margin: 0 0 1rem 0;
	}

	&__nombre {
		font-size: 2rem;
		font-weight: v.$bold;
		margin: 0;
	}


	&__evento {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem;

		&:nth-child(even) {
			background-color: darken(v.$gris-claro, 3);
		}
	}
	&__eliminar {
		all: unset; // eliminar estilos por defecto
		color: v.$rojo;

		&:hover {
			cursor: pointer;
		}
	}

	&__regalo{	
		margin-top: 5rem;
	}

	&__label{
		display: block;
		font-size: 2.2rem;
		font-weight: v.$bold;
		margin-bottom: 1rem;
	}

	&__select{
		width: 100%;
		background-color: v.$blanco;
		border: 1px solid v.$gris;
		border-radius: 1rem;
		padding: 1rem;
	}

	&__texto {
		text-align: center;
	}
}