@use 'base/mixins' as m;
@use 'base/variables' as v;

.agenda {
	@include m.contenedor;
	padding: 5rem 0;
}

.eventos {

	&__heading {
		color: v.$azul;
		margin: 5rem 0;
		text-align: left;
		@include m.texto-fluido(2rem, 6rem);

		&--talleres {
			@extend .eventos__heading;
			color: v.$secundario;
		}
	}
	
	// &__lista {
	// 	@include m.reset-lista;
	// 	line-height: 2;
	// }

	&__fecha {
		color: v.$gris;
		margin: 3rem 0 1rem 0;
	}


}

.eventos--talleres {
	
}

.evento {

	&__hora {
		font-weight: v.$bold;
	}

	&__info {
		padding: 2rem;
		border-radius: 1rem;
		background-color: v.$azul;
		color: v.$blanco;
		transition: 300ms background-color ease;

		&:hover {
			background-color: darken(v.$azul, 10%);
		}
	}

	&__ponente {
		display: flex;
		gap: 2rem;
		justify-content: space-between;
		align-items: center;
	}

	&__img {
		width: 7rem;
		background-color: v.$blanco;
		border-radius: 50%;
	}

	&__ponente-nombre {
		font-weight: v.$bold;
	}

	//line-clamp nos permite "cortar" el texto limitando lineas
	&__descripcion {
		font-size: 1.6rem;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 4;
		line-clamp: 4;
		overflow: hidden;

		@include m.tablet {
			-webkit-line-clamp: 2;
			line-clamp: 2;
		}
	}
}