@use 'base/mixins' as m;
@use 'base/variables' as v;

.agenda {
	@include m.contenedor;
}

.eventos {

	&__heading {
		color: v.$azul;
		margin: 4rem 0;
		text-align: left;
		@include m.texto-fluido(2rem, 5rem);

		&--talleres {
			@extend .eventos__heading;
			color: v.$secundario;
		}
	}

	&--talleres {
		.evento__info {
			background-color: v.$secundario;

			&:hover {
				background-color: darken(v.$secundario, 10%);;
			}
		}
	}
	
	&__fecha {
		color: v.$gris;
		margin: 3rem 0 1rem 0;
	}

	.swiper-button-prev,
	.swiper-button-next {
		color: rgba(v.$blanco, .5);
	}
}

.evento {

	
	&__hora {
		font-weight: v.$bold;
	}

	&__info {
		padding: 2rem;
		border-radius: 1rem;
		background-color: v.$azul;
		color: v.$blanco;
		transition: 300ms background-color ease;
		
		&:hover {
			background-color: darken(v.$azul, 10%);
		}

		&--talleres {
			@extend .evento__info;
			background-color: v.$secundario;

			&:hover {
			background-color: darken(v.$secundario, 10%);
		}
		}
	}

	&__nombre {
		font-size: 2.2rem;
		margin: 0;
		height: 7rem; // ver si podemos hacer de otra manera pàra que mantenga la misma altura la card 
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		line-clamp: 3;
		overflow: hidden;
	}

	&__ponente {
		display: flex;
		gap: 2rem;
		justify-content: space-between;
		align-items: center;
	}

	&__img {
		width: 6rem;
		height: 6rem;
		background-color: v.$blanco;
		border-radius: 50%;
		object-fit: cover;    
		object-position: top; 
	}

	&__ponente-nombre {
		font-weight: v.$bold;
	}

	//line-clamp nos permite "cortar" el texto limitando lineas
	&__descripcion {
		font-size: 1.6rem;
		margin-bottom: 2rem;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 4;
		line-clamp: 4;
		overflow: hidden;
		height: 7rem;

	}

	&__boton {
		@include m.boton(v.$blanco, v.$negro);
		margin-top: 1rem;

		&:disabled {
			opacity: .5;
			cursor: not-allowed;
		}
	}
}