@use 'base/variables' as v;
@use 'base/mixins' as m;

.listaPonentes {
	
	@include m.reset-lista;
	@include m.grid(1, 1rem);

	// @include m.tablet {
	// 	@include m.grid(2, 1rem);
	// }

	&__ponente{
		color: v.$azul;
		border: 1px solid v.$azul;
		padding: 1rem;
		border-radius: 1rem;
		text-align: center;

		&:hover {
			color: v.$blanco;
			background-color: v.$azul;
			cursor: pointer;
		}

		&--selected {
			color: v.$blanco;
			background-color: v.$azul;
		}
	}
	
	&__vacio {
		background-color: lighten(v.$rojo, 60);
		//border-left: .5rem solid v.$rojo;
		color: v.$rojo;
		text-align: center;
		padding: 1rem;
		border-radius: 1rem;

	}
}