@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer {
	background-color: v.$azul;
	margin-top: 5rem;
	padding-top: 3rem;
	color: v.$blanco;

	&__img{
		width: 25rem;
		height: min-content;
	}
	
	&__contenido {
		text-align: center;

		@include m.tablet {
			text-align: left;
		}
	}

	&__grid {
		@include m.contenedor;

		@include m.tablet{
			@include m.grid(2, 3rem);
					> *:nth-child(3) {
				grid-column: 1 / -1;
				grid-row: 2;
			}

		}

		@include m.desktop{
			@include m.grid(3, 3rem);
		
			> *:nth-child(3) {
				grid-column: 3 / 3;
				grid-row: 1;
			}
			
		}

		picture {
			display: flex;
			justify-content: center;
		}
	}

	&__logo {
		@include m.logo;
		@include m.texto-fluido(2rem, 4rem);
	}

	&__texto {
		font-size: 1.4rem;
		line-height: 2;
		margin-top: 1rem !important; 
		text-align: center;
	}

	&__copyright {
		background-color: darken(v.$azul, 10);
		margin: 3rem 0 0 0;
		padding: 2rem 0;
		text-align: center;
		font-size: 1.4rem;
		font-weight: v.$black;
		display: flex;
		justify-content: center;
		gap: 2rem;

		&--peque {
			font-weight: v.$regular;
		}
	}

	&__enlace {
		@include m.enlace;
		font-weight: v.$semibold;
	}
}